{% extends "layout.html" %}

{% block header %}
  <header>
  </header>
{% endblock %}

{% block mainContent %}
  <img class="displayed" id="logo" src= "https://cloud.githubusercontent.com/assets/10686023/6222624/2b578ca2-b625-11e4-8ec5-93b9f787eb52.png", align=center>

  <p>
    Events:
    <ul>
      {% for event in events %}
        <li class="event" id="event-{{event.id}}">
          {% if event.date < now %} Expired:<strike>{% endif %}
          <a href ="/events/{{event.id}}">{{event.title}}.</a>{{event.attending.length}} attending so far.
          {% if event.date < now %}</strike>{% endif %}
          <br>
          <time datetime="{{event.date}}">{{event.date|prettyDate}}.</time>
        </li>
      {% endfor %}
    </ul>
  </p>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}
