{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Lively Spectrum Coding Team says hello Kyle and Miles</h1>
  </header>
{% endblock %}

{% block mainContent %}
Yonatan Landau(ylandau1@gmail.com)
 <p></p>
Eric Plunkett(eric.plunkett@yale.edu)
 <p></p>
Elaine Pan(elaine.pan@yale.edu)
 <p></p>

 <p></p>
 <h1>FINAL Weekly Status Report</h1>
  <h3>boom</h3>
 <p></p>
Date created: 2/18/15
 <p></p>
Sprint Completed Stories:
 <p></p>
  <p>&#10003 Make each event have a ‘time’tag with datetime’attritbute</p>
  <p>&#10003 Hide events that are over on the home page</p>
  <p>&#10003 Add a submit button to the new event creation form</p>
  <p>&#10003 Add form validation for new event creation</p>
  <p>&#10003 Redirect users that submit valid events</p>
  <p>&#10003 Show errors when form validation fails</p>
  <p>&#10003 Add validation to attendee registration form</p>
  <p>&#10003 Redirect users to submit valid registration to an event</p>

<h2>Work completed</h2>
<p>After meeting with Miles and Olivia, Eric finally (finally!) got a better handle on this git thing. He removed old events from the homepage and took painstaking care to make all the necessary event details improvements. Frustratingly, the test for "should reject RSVPs from non-Yale addresses" timesout. Only two days ago, it passed--and Olivia saw it! Still not sure why it's not working anymore. The page shows "Invalid Email" for emails that are anything but Yale and Harvard. However, it freezes up when Harvard emails are entered. Damn Harvard.
</p><p>
Elaine overcame significant git challenges that would have laid waste to a lesser hacker. She used some old-school copy-paste and email (email!) to share with the world all of the sick code she'd written for sprint 2 that didn't quite make its way to the internets. She also took care of all of the errors that should be displayed. Looking at the lines and lines of mocha green was like staring into the face of G*d.
</p><p>
Yoni worked on the CSS to make the site look mad crazy sick. He also adopted the role of scrum master, making sure we had all of our bases covered for the final sprint. Finally, in a last-second moment of inspiration and perseverance, he discovered an "errors" that was spelled "errros." Boom. When we think of Yoni, we think "eros." But that's a different story...
</p>

<h2>Burndown Chart</h2>



<p>The green trend line shows the expected story points burndown, while the yellow line shows the actual points finished. We are behind our expectations as we struggled through the merge issue. We are expecting to get back on track by the end of the week.</p>


<h2>Backlog: </h2>


<h2>Work to be done next</h2>

<p>Eric will continue his work on event detail page/create new event page-make each event clickable title, etc; Once fix the push problem, Elaine will focus on new event page/RSVP-add attendee registration form; Yoni will take a lead in making the website actually look good by further editing CSS.</p>
  

{% endblock %}
