body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

.checkmark li:before {
    content: "\2713\0020";
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}